<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Choose Players</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<form action="enter_scores" method="get">
   	<input type="hidden" name="game_id" value="{{ game_id }}" />
   	<input type="hidden" name="players" value="{{ players }}" />
	<input type="submit" value="Enter Scores">
</form>
{% if player_added_to_game %}
<p>
	{{ player_added_to_game }} successfully added to game
</p>
{% endif %}
<p>
	Add Player To Current Game:
	{% if not players %}
		No Players Created Yet
	{% else %}
	<form action="choose_players" method="get">
   	<input type="hidden" name="game_id" value="{{ game_id }}" />
		<select name="player_added_to_game">
			{% for player in players %}
				<option value="{{ player.name }}">{{ player.name }}</option>
    		{% endfor %}
		</select>
	    <input type="submit" value="Choose">
	</form>
   	{% endif %}
</p>
<p>
	Add New Player:
	<form action="new_player" method="post">
    	<input type="hidden" name="game_id" value="{{ game_id }}" />
		First name: <input type="text" name="name" placeholder="Enter Name"><br>
		<input type="submit" value="Submit">
	</form>
</p>
</body>
</html>