<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Enter Scores</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<div style="width:90%;padding:5%;">
<form action="calculate_payments" method="get">
   	<input type="hidden" name="game_id" value="{{ game_id }}" />
   	<input type="hidden" name="jplayers" value="{{ jplayers }}" />
	{% for player in players %}
		{{ player }}: <input type="text" name="{{ player }}" placeholder="Enter Score"><br>
	{% endfor %}
	<input type="submit" value="Submit">
</form>
<form action="/" method="get" style="padding-top:20px">
	<input type="submit" value="Go To Home Page" data-theme="b">
</form>
</div>
</body>
</html>