<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Choose Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<div style="width:90%;padding:5%;">
	{% if not games %}
		No Games Created Yet
	{% else %}
	Choose Game (Alabama Time):
	{% for game in games %}
		<form action="{{ uri_for('calculate_payments') }}" method="get">
		   	<input type="hidden" name="game_id" value="{{ game.game_id }}" />
		   	<input type="hidden" name="jplayers" value="{{ game.player_list }}" />
		   	<input type="hidden" name="load_game" value="true" />
			<input type="submit" value="{{ game.created.strftime('%Y-%m-%d %H:%M') }} {{ game.readable_players() }}">
		</form>
	   	{% endfor %}
   	{% endif %}
	<form action="{{ uri_for('home') }}" method="get" style="padding-top:20px">
		<input type="submit" value="Go To Home Page" data-theme="b">
	</form>
</div>
</body>
</html>