<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Amigos Score Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<div style="width:90%;padding:5%;">
<form action="{{ uri_for('start_game') }}">
    <input type="submit" value="Start A New Game">
</form>
<form action="{{ uri_for('load_games') }}">
    <input type="submit" value="Load An Existing Game">
</form>
</div>
</body>
</html>